@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: 10px 30px;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.header {
    background-image: url('../public/header_bg.png'), url('../public/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left, top;
}

.navbar {
    color: blueviolet;
    font-size: 40px;
}

nav {
    display: flex;
    align-items: center;
    margin: 0px 150px;
    justify-content: space-between;
}

.title {
    font-size: 45px;
    color: black;
    font-weight: bold;
}

#sub-title {
    color: #FD6E0A;
}

.nav-link {
    display: flex;
    list-style-type: none;
}

.nav-link li {
    display: flex;
    align-items: center;
}

.nav-link li a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.hire-button {
    background-color: #FD6E0A;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    color: #FFF8F3;
    font-size: 20px;
}

.hire-button:hover {
    cursor: pointer;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 0 200px;
}

.banner-content {
    width: 580px;
}

#pfofile-photo {
    width: 500px;
}

.banner-titile {
    font-size: 45px;
}

#banner-tittle-sub {
    font-size: 85px;
}

.banner-des {
    font-size: 16px;
    font-weight: 300;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 100px;
    margin-bottom: 80px;
}

.about {
    padding: 150px;
    border-radius: 10px;
}

.content-box {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 20px 15px;
}

.det {
    display: flex;
    justify-content: space-around;
}

.det div {
    line-height: 0.5;
}

.det div h3 {
    font-weight: 300;
}

.det div h2 {
    font-size: 20px;
}